
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.img > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.mainbox {
    width: 600px;
    height: 700px;
    border: 3px solid orange;
    align-items: center;
    text-align: center;
    padding: 30px;
}

h1 {
    color: rgb(255, 94, 0);
    font-family: 'eSBAggroB';
    margin: 50px;
}

.profile {
    margin: 50px;
    font-family: 'KimjungchulGothic-Bold';
}

.profile > p {
    font-size: 20px;
}

.box_01 > div {
    display: inline-block;
    margin: 10px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: mediumturquoise;
    font-family: 'NeoDunggeunmoPro-Regular';
    font-size: 20px;
    color: white;
}

.box_02 > div {
    display: inline-block;
    margin: 10px;
    font-size: 40px;
    color: firebrick;
}
